/* ==== RESET ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/*HERO SECTION*/
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Background image */
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/Group\ 1\ \(1\).png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2222px; 
  background-color: #025A2C; 
  z-index: 0;
}

/*Mabuhay! Welcome to*/
.welcome-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 9%;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: clamp(24px, 6vw, 55px); 
  letter-spacing: 0.03em;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 6px 8px 6px rgba(0, 0, 0, 0.7);
  width: 100%; 
}

/*WHITE RECTANGLE BOX*/
.white-box {
  position: relative;
  background: rgba(255, 255, 255, 0.87);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  padding: 1.2rem;
  text-align: center;
  box-sizing: border-box;
  margin: 200px auto;
  width: 70vw;
  height: 55vh;
}

/*LOGO*/
.ellipse { 
  position: absolute; 
  left: 50%; 
  top: 25%; 
  transform: translateX(-50%); 
  width: clamp(120px, 18vw, 190px); 
  height: clamp(120px, 18vw, 195px);
  z-index: 3; 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* LOGO Image */
.ellipse img { 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  border-radius: 100%; 
}


/*PINYASURI*/
.brand {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translateX(-50%);
  font-family: 'Fredoka One', sans-serif;
  font-weight: 400;
  font-size: clamp(35px, 9vw, 85px); 
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.8);
  z-index: 4;
}

.brand .pinya {
  color: #FFD51E;
}

.brand .suri {
  color: #025A2C;
  margin-left: 5px; 
}

/* ===== CAPSTONE TITLE SUBTITLE ===== */
.subtitle-text {
  position: absolute;
  left: 50%;
  top: 58%;
  transform: translateX(-50%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; 
  font-size: clamp( 20px, 2.8vw, 30px); 
  line-height: 1.25;
  letter-spacing: 0.05em;
  text-align: center;
  color: #025A2C;
  z-index: 5;
  max-width: 90%; 
}


/*Tap to continue.*/
.tap-to-continue {
  position: absolute;
  left: 50%;
  bottom: 60px; 
  transform: translateX(-50%);

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: clamp(16px, 2.6vw, 25px);
  line-height: 1.3;
  text-align: center;
  color: #FFFFFF;
  z-index: 6;
}


/*REPONSIVE*/
@media (max-width: 720px) {
  .brand { top: 40%;}
  .subtitle-text {top: 45%;}
  .welcome-text{top: 15%;}

}