<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Fredoka+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinyasuri - Home</title>
  <link rel="stylesheet" href="../static/css/homepage.css">
</head>
<body>
  <section class="second-page">
      <div class="ellipse3"></div>
      <div class="hello-text">HELLO PO!</div>
      <div class="welcome-back">Welcome Back!</div>
      <div class="doorbell"></div>
      <div class="rectangle6"></div>
      <div class="ellipse4"></div>
      <div class="brand">
      <span class="pinya">PINYA</span><span class="suri">SURI</span>
    </div>

    <h2 class="subtitle-text">
      An AI-Driven Autonomous Drone System with Grid Localization for Pineapple Afflictions Detection, Classification, and Monitoring
    </h2>

    <!-- Added clickable links -->
    <a href="../templates/data-logs.html" class="rounded-rectangle"></a>
    <a href="../templates/data-logs.html" class="data-logs">DATA LOGS</a>

    <a href="../templates/upload-section.html" class="rounded-rectangle1"></a>
    <a href="../templates/upload-section.html" class="upload-section">UPLOAD SECTION</a>

    <a href="../templates/management-strategies.html" class="rounded-rectangle2"></a>
    <a href="../templates/management-strategies.html" class="management-strategies">MANAGEMENT STRATEGIES</a>

    <h2 class="about">ABOUT</h2>
    <h2 class="contact">CONTACT</h2>
    <h2 class="dot">..</h2>

  </section>
</body>
</html>
